# Include any files you want to ignore (do not want to push to GitHub)
.ipynb_checkpoints
.DS_Store
.env

# virtual environments
venv/
.venv/
env/
ENV/

# aditi specific files
exercise_generator.log
submissions-team/aditi-phadnis/Frameworks/multi-agent-framework/pycache
submissions-team/aditi-phadnis/multi-agent-pydantic.py/__pycache__ 

# shaheer specific files
submissions-team/shaheer-airaj/__pycache__